In [41]:
import pandas as pd 
import numpy as np

In [42]:
hf = pd.read_csv('../../../Data/Preprocessed_data/Dong/Human_flow.csv')
road = pd.read_csv('../../../Data/Preprocessed_data/Dong/Road_Embeddings_with_flow.csv')

In [43]:
hf.head()

,Reporting Month,Dong_name,Total Population,Male Population (0–9 years),Male Population (10–14 years),Male Population (15–19 years),Male Population (20–24 years),Male Population (25–29 years),Male Population (30–34 years),Male Population (35–39 years),...,Female Population (55–59 years),Female Population (60–64 years),Female Population (65–69 years),Female Population (70+ years),Total Long-Term Foreigner Population,Long-Term Foreigner Population (Chinese),Long-Term Foreigner Population (Non-Chinese),Total Short-Term Foreigner Population,Short-Term Foreigner Population (Chinese),Short-Term Foreigner Population (Non-Chinese)
0,2017-01-01,청운효자동,15948.599397,532.261569,339.158353,358.376044,664.463461,710.623451,661.017397,735.452707,...,535.529241,433.296768,372.932741,1209.725644,400.106945,180.808953,219.297980,839.632493,461.643284,377.990055
1,2017-01-01,사직동,32795.242545,477.279215,212.124094,339.376079,996.575257,1426.200734,1769.883440,2024.692921,...,1011.751740,917.508347,650.503275,2174.375839,1536.160386,680.008462,856.151913,2162.551359,880.525904,1282.026911
2,2017-01-01,삼청동,6013.897520,72.609274,55.635883,183.644499,245.499676,330.121580,309.305424,315.273764,...,204.717865,169.804713,144.138523,443.599483,314.622914,133.705096,180.917812,626.893084,281.393870,345.499791
3,2017-01-01,부암동,11578.176069,256.194143,198.649381,311.245012,486.469254,367.300544,284.469658,355.809420,...,491.099343,478.844117,353.320739,1205.824811,358.957612,166.975279,191.982326,286.697474,68.193545,218.504588
4,2017-01-01,평창동,22895.411724,632.024908,457.164171,576.485647,721.384081,585.131328,520.835537,623.357402,...,1143.866572,1010.714657,748.377927,2600.405793,460.723224,181.794177,278.929038,211.288792,25.248764,186.040345

In [44]:
# col_index_dict = {col: idx for idx, col in enumerate(hf.columns)}
# col_index_dict

In [ ]:
hf_prompt_df = hf[['Reporting Month', 'Dong_name']].copy()
hf_prompt = []

def get_mean(a, b):
    return (a+b)/2

for idx, row in hf.iterrows():
    month = row['Reporting Month']
    dong = row['Dong_name']
    
    prompt = (
        f"[{month} | {dong}] Average Floating Population Summary:\n"
        f"- Domestic Floating Population Summary\n"
        f"- Total Domestic Floating Population: {row.iloc[2]:.2f}\n"
        f"- Domestic Floating Population by Age and Gender\n"
        f"- Teens Male: {get_mean(row.iloc[4], row.iloc[5]):.2f}, Female: {get_mean(row.iloc[18], row.iloc[19]):.2f}\n"
        f"- 20s Male: {get_mean(row.iloc[6], row.iloc[7]):.2f}, Female: {get_mean(row.iloc[20], row.iloc[21]):.2f}\n"
        f"- 30s Male: {get_mean(row.iloc[8], row.iloc[9]):.2f}, Female: {get_mean(row.iloc[22], row.iloc[23]):.2f}\n"
        f"- 40s Male: {get_mean(row.iloc[10], row.iloc[11]):.2f}, Female: {get_mean(row.iloc[24], row.iloc[25]):.2f}\n"
        f"- 50s Male: {get_mean(row.iloc[12], row.iloc[13]):.2f}, Female: {get_mean(row.iloc[26], row.iloc[27]):.2f}\n"
        f"- 60s Male: {get_mean(row.iloc[14], row.iloc[15]):.2f}, Female: {get_mean(row.iloc[28], row.iloc[29]):.2f}\n"
        f"- 70 and above Male: {row.iloc[16]}, Female: {row.iloc[30]}\n"
        '\n'
        f"- Long-term Foreign Resident Floating Population Summary\n"
        f"- Total Long-term Foreign Resident Floating Population: {row.iloc[31]:.2f}\n"
        f"- Chinese Long-term Residents: {row.iloc[32]:.2f}\n"
        f"- Non-Chinese Long-term Residents: {row.iloc[33]:.2f}\n"
        
        f"- Short-term Foreign Visitor Floating Population Summary\n"
        f"- Total Short-term Foreign Visitor Floating Population: {row.iloc[34]:.2f}\n"
        f"- Chinese Short-term Visitors: {row.iloc[35]:.2f}\n"
        f"- Non-Chinese Short-term Visitors: {row.iloc[36]:.2f}\n"
    )
    
    hf_prompt.append(prompt)

In [46]:
hf_prompt_df['prompt'] = hf_prompt
print(hf_prompt_df.shape)
hf_prompt_df.head()

(28408, 3)

  Reporting Month Dong_name                                             prompt
0      2017-01-01     청운효자동  [2017-01-01 | 청운효자동] Average Floating Populati...
1      2017-01-01       사직동  [2017-01-01 | 사직동] Average Floating Population...
2      2017-01-01       삼청동  [2017-01-01 | 삼청동] Average Floating Population...
3      2017-01-01       부암동  [2017-01-01 | 부암동] Average Floating Population...
4      2017-01-01       평창동  [2017-01-01 | 평창동] Average Floating Population...

In [47]:
road.head()

,Reporting Month,Dong_name,num_nearby_nodes,road_count,total_length,tunnel_count_general,tunnel_count_building_passage,bridge_count_general,bridge_count_viaduct,highway_count_residential,...,highway_count_trunk_link,highway_count_motorway_link,highway_count_crossing,highway_count_road,highway_count_motorway,area,승차총승객수(버스),하차총승객수(버스),승차총승객수(지하철),하차총승객수(지하철)
0,2017-01-01,청운효자동,177.0,102,15032.778,0,0,0,0,44.0,...,0.0,0.0,0.0,0.0,0.0,2.568560e+06,183338,202583,0.0,0.0
1,2017-01-01,사직동,337.0,214,22040.495,0,0,0,0,84.0,...,0.0,0.0,0.0,0.0,0.0,1.157671e+06,632595,689110,1754715.0,1807322.0
2,2017-01-01,삼청동,34.0,17,3477.422,0,0,0,0,9.0,...,0.0,0.0,0.0,0.0,0.0,1.476086e+06,106233,122132,0.0,0.0
3,2017-01-01,부암동,194.0,375,36188.775,0,0,14,0,295.0,...,0.0,0.0,0.0,0.0,0.0,2.273044e+06,277127,258524,0.0,0.0
4,2017-01-01,평창동,119.0,717,74985.331,0,0,4,0,675.0,...,0.0,0.0,0.0,0.0,0.0,8.940655e+06,284402,251046,0.0,0.0

In [48]:
# col_index_dict = {col: idx for idx, col in enumerate(road.columns)}
# col_index_dict

In [49]:
road_prompt_df = road[['Reporting Month', 'Dong_name']].copy()
road_prompt = []

def get_mean(a, b):
    return (a+b)/2

for idx, row in road.iterrows():
    month = row['Reporting Month']
    dong = row['Dong_name']
    
    prompt = (
        f"[{month} | {dong}] Road and Transportation Overview:\n"
        f"- ANumber of road nodes near AirBnBs: {row.iloc[2]}\n"
        f"- Total number of roads in the dong: {row.iloc[3]}, Total length: {row.iloc[4]}\n"
        f"- Number of tunnels in the dong: {row.iloc[5]} general, {row.iloc[6]} building passage\n"
        f"- Number of bridges in the dong: {row.iloc[7]} general, {row.iloc[8]} viaducts\n"
        f"- Road types:\n"
        f"  • Residential: {row.iloc[9]}\n"       # 주택가 도로로
        f"  • Primary: {row.iloc[10]}\n"          # 주요 간선 도로
        f"  • Tertiary: {row.iloc[11]}\n"         # 지역 내 연결 도로
        f"  • Living streets: {row.iloc[12]}\n"   # 보행자 우선 도로 
        f"  • Busways: {row.iloc[13]}\n"          # 버스 전용 차선
        f"  • Secondary: {row.iloc[16]}\n"        # 보조 간선 도로           
        f"  • Trunk: {row.iloc[19]}\n"            # 간선 도로 보다 상위 도로
        f"  • Motorway: {row.iloc[24]}\n"         # 고속도로
        f"  • Pedestrian crossings: {row.iloc[22]}\n"  # 횡단 보도
        f"  • Unclassified: {row.iloc[18]}\n"  # 횡단 보도
        "\n"
        f"- Bus ridership (on/off): {row.iloc[26]} / {row.iloc[27]}\n"
        f"- Subway ridership (on/off): {row.iloc[28]} / {row.iloc[29]}\n"
        
    )
    
    road_prompt.append(prompt)

In [50]:
road_prompt_df['prompt'] = road_prompt
print(road_prompt_df.shape)
road_prompt_df.head()

(28408, 3)

  Reporting Month Dong_name                                             prompt
0      2017-01-01     청운효자동  [2017-01-01 | 청운효자동] Road and Transportation O...
1      2017-01-01       사직동  [2017-01-01 | 사직동] Road and Transportation Ove...
2      2017-01-01       삼청동  [2017-01-01 | 삼청동] Road and Transportation Ove...
3      2017-01-01       부암동  [2017-01-01 | 부암동] Road and Transportation Ove...
4      2017-01-01       평창동  [2017-01-01 | 평창동] Road and Transportation Ove...

In [51]:
# 생성한 프롬프트 저장장
hf_prompt_df.to_csv('../dong_prompts/human_flow_prompts.csv', index=False)
road_prompt_df.to_csv('../dong_prompts/road_prompts.csv', index=False)