In [80]:
import pandas as pd 
import numpy as np

In [81]:
df = pd.read_csv('../Data/Raw_data/real_raw_AirBnB.csv')
df

/tmp/ipykernel_417305/3604425549.py:1: DtypeWarning: Columns (13,20,28,39,41,42,43,54,55,64,67,75,76,78,79,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../Data/Raw_data/real_raw_AirBnB.csv')

,Property ID,Reporting Month,Occupancy Rate,Revenue (USD),Revenue (Native),ADR (USD),ADR (Native),Number of Reservations,Reservation Days,Available Days,...,Integrated Property Manager,Amenities,HomeAway Location Type,Airbnb Property Plus,Airbnb Home Collection,License,Airbnb Property ID,Airbnb Host ID,HomeAway Property ID,HomeAway Property Manager ID
0,ab-658150652762678230,2022-06-01,0.033,23.0,0.0,23.00,0.00,1.0,1.0,29.0,...,NaN,"[""kitchen"", ""wireless_internet"", ""laptop-frien...",NaN,False,NaN,NaN,6.581507e+17,27975258.0,NaN,NaN
1,ab-658150652762678230,2022-07-01,0.400,360.0,469655.2,36.00,46965.52,6.0,10.0,15.0,...,NaN,"[""kitchen"", ""wireless_internet"", ""laptop-frien...",NaN,False,NaN,NaN,6.581507e+17,27975258.0,NaN,NaN
2,ab-658169356486186539,2022-06-01,0.000,0.0,0.0,NaN,NaN,0.0,0.0,30.0,...,NaN,"[""kitchen"", ""wireless_internet"", ""hair-dryer"",...",NaN,False,NaN,NaN,6.581694e+17,38621584.0,NaN,NaN
3,ab-658169356486186539,2022-07-01,0.000,0.0,0.0,NaN,NaN,0.0,0.0,31.0,...,NaN,"[""kitchen"", ""wireless_internet"", ""hair-dryer"",...",NaN,False,NaN,NaN,6.581694e+17,38621584.0,NaN,NaN
4,ab-658213094852126788,2022-07-01,0.774,1063.0,1388000.0,44.29,57833.33,14.0,24.0,7.0,...,NaN,"[""kitchen"", ""wireless_internet"", ""laptop-frien...",NaN,False,NaN,NaN,6.582131e+17,454059471.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038360,ha-987448,2021-03-01,0.000,0.0,NaN,NaN,NaN,0.0,0.0,31.0,...,False,"{""DINING"": [""Dining Area""], ""GENERAL"": [""Wirel...",NaN,NaN,NaN,NaN,NaN,NaN,987448,NaN
2038361,ha-987448,2021-04-01,0.000,0.0,NaN,NaN,NaN,0.0,0.0,30.0,...,False,"{""DINING"": [""Dining Area""], ""GENERAL"": [""Wirel...",NaN,NaN,NaN,NaN,NaN,NaN,987448,NaN
2038362,ha-987448,2021-05-01,0.000,0.0,NaN,NaN,NaN,0.0,0.0,31.0,...,False,"{""DINING"": [""Dining Area""], ""GENERAL"": [""Wirel...",NaN,NaN,NaN,NaN,NaN,NaN,987448,NaN
2038363,ha-987448,2021-06-01,0.000,0.0,NaN,NaN,NaN,0.0,0.0,30.0,...,False,"{""DINING"": [""Dining Area""], ""GENERAL"": [""Wirel...",NaN,NaN,NaN,NaN,NaN,NaN,987448,NaN
2038364,ha-987448,2021-07-01,0.000,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,False,"{""DINING"": [""Dining Area""], ""GENERAL"": [""Wirel...",NaN,NaN,NaN,NaN,NaN,NaN,987448,NaN

In [82]:
df1 = df.copy()

# Îèô Ïù¥Î¶Ñ Î≥ÄÍ≤Ω
df.rename(columns={'ADM_NM': 'Dong_name'}, inplace=True)

print(len(df['Dong_name'].unique()))

# Îèô Ïù¥Î¶Ñ Ï†ÄÏû•
dong_names = set(df['Dong_name'].unique())

424

In [83]:
df[['Property ID', 'Reporting Month','Dong_name', 'Listing Title']].head(15)

,Property ID,Reporting Month,Dong_name,Listing Title
0,ab-658150652762678230,2022-06-01,ÌòúÌôîÎèô,[Enkor Stay] Private room H Shared Flat SKKU
1,ab-658150652762678230,2022-07-01,ÌòúÌôîÎèô,[Enkor Stay] Private room H Shared Flat SKKU
2,ab-658169356486186539,2022-06-01,ÏÇ¨Í∑ºÎèô,Cozy studio - 3mins Hanyang Univ.
3,ab-658169356486186539,2022-07-01,ÏÇ¨Í∑ºÎèô,Cozy studio - 3mins Hanyang Univ.
4,ab-658213094852126788,2022-07-01,Ïó∞ÎÇ®Îèô,P1 - R6 Hongdea / shared bathroom / Í≥µÏö©Í±∞Ïã§ÏöïÏã§
5,ab-658216174212673509,2022-07-01,Ïó∞ÎÇ®Îèô,P1 - R8 Hongdea Private room / shared bathroom
6,ab-658217792133234138,2022-07-01,Ïó∞ÎÇ®Îèô,P1 - R7 Hongdea / shared bathroom / Í≥µÏö©Í±∞Ïã§ÏöïÏã§
7,ab-658242021891009071,2022-07-01,Ïö∞Ïù¥Îèô,Ïö∞Ïù¥ÌïòÏö∞Ïä§ üè° ÏÜîÎ∞≠Í≥µÏõêÏó≠Ïïû! Í≥µÍ∏∞Ï¢ãÍ≥† ÏæåÏ†ÅÌïú ÎÑìÏùÄ 3Î£∏ / ÎèÑÏã¨ÏÜç ÎÇ¥ÏßëÍ∞ôÏùÄ ÌûêÎßÅÍ≥µÍ∞Ñü•∞
8,ab-658278762798595118,2022-06-01,ÏÇ¨ÏßÅÎèô,Ï¢ÖÎ°úÍµ¨Ïùò Ìé∏ÏïàÌïú ÌïúÏò•Ïä§ÌÖåÏù¥ Hanok House
9,ab-658278762798595118,2022-07-01,ÏÇ¨ÏßÅÎèô,Ï¢ÖÎ°úÍµ¨Ïùò Ìé∏ÏïàÌïú ÌïúÏò•Ïä§ÌÖåÏù¥ Hanok House
10,ab-658286163210988231,2022-07-01,Ïã†Í∏∏1Îèô,[celibyeoui] Yeoyido Skyline View Î∞îÎã•Ïùò Î∞©
11,ab-658288674716061803,2022-06-01,ÏÑúÍµêÎèô,Newly renovated building 2 w/ Huge terrace@Hon...
12,ab-658288674716061803,2022-07-01,ÏÑúÍµêÎèô,Newly renovated building 2 w/ Huge terrace@Hon...
13,ab-658354663387899060,2022-07-01,Ïã†Í∏∏6Îèô,[celibyeoui] Yeoyido Skyline View Single Bed
14,ab-658354729439709205,2022-07-01,Ïã†Í∏∏7Îèô,[celibyeoui] Yongdeungpo Skyline View ÏàòÎÇ©Ïù¥ ÎßéÏùÄ Ïã±...

In [84]:
df[['Property ID', 'Reporting Month', 'Dong_name', 'Available Days', 'Blocked Days', 'Reservation Days', 'Revenue (USD)', 'Number of Reservations', 'Active']]

,Property ID,Reporting Month,Dong_name,Available Days,Blocked Days,Reservation Days,Revenue (USD),Number of Reservations,Active
0,ab-658150652762678230,2022-06-01,ÌòúÌôîÎèô,29.0,0.0,1.0,23.0,1.0,True
1,ab-658150652762678230,2022-07-01,ÌòúÌôîÎèô,15.0,6.0,10.0,360.0,6.0,True
2,ab-658169356486186539,2022-06-01,ÏÇ¨Í∑ºÎèô,30.0,0.0,0.0,0.0,0.0,True
3,ab-658169356486186539,2022-07-01,ÏÇ¨Í∑ºÎèô,31.0,0.0,0.0,0.0,0.0,True
4,ab-658213094852126788,2022-07-01,Ïó∞ÎÇ®Îèô,7.0,0.0,24.0,1063.0,14.0,True
...,...,...,...,...,...,...,...,...,...
2038360,ha-987448,2021-03-01,Ïó≠Ï¥åÎèô,31.0,0.0,0.0,0.0,0.0,False
2038361,ha-987448,2021-04-01,Ïó≠Ï¥åÎèô,30.0,0.0,0.0,0.0,0.0,False
2038362,ha-987448,2021-05-01,Ïó≠Ï¥åÎèô,31.0,0.0,0.0,0.0,0.0,False
2038363,ha-987448,2021-06-01,Ïó≠Ï¥åÎèô,30.0,0.0,0.0,0.0,0.0,False
2038364,ha-987448,2021-07-01,Ïó≠Ï¥åÎèô,0.0,0.0,0.0,0.0,0.0,False

In [85]:
# ÌôúÏÑ±ÌôîÎêú AirBnBÎßå ÌôïÏù∏
real_df = df[df['Active']==True]

# ÌïÑÏöîÌïú ÎÇ†ÏßúÎßå ÏÑ§Ï†ï
real_df['Reporting Month'] = pd.to_datetime(real_df['Reporting Month'])
real_df = real_df[real_df['Reporting Month'] >= '2017-01-01']

print(real_df.shape)

# Ïã§Ï†ú Îç∞Ïù¥ÌÑ∞ Î∂ÑÌè¨ ÌôïÏù∏
real_df[['Reservation Days', 'Revenue (USD)', 'Number of Reservations']].describe()

/tmp/ipykernel_417305/3018866438.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_df['Reporting Month'] = pd.to_datetime(real_df['Reporting Month'])

(955725, 86)

       Reservation Days  Revenue (USD)  Number of Reservations
count     955725.000000   9.348920e+05           955725.000000
mean          10.551487   7.632974e+02                3.484795
std           10.111042   2.928434e+03                3.917897
min            0.000000   0.000000e+00                0.000000
25%            0.000000   3.300000e+01                0.000000
50%            8.000000   4.071700e+02                2.000000
75%           19.000000   1.105000e+03                5.000000
max           31.000000   1.896514e+06               31.000000

In [86]:
print(len(real_df.columns))
real_df.columns

86

Index(['Property ID', 'Reporting Month', 'Occupancy Rate', 'Revenue (USD)',
       'Revenue (Native)', 'ADR (USD)', 'ADR (Native)',
       'Number of Reservations', 'Reservation Days', 'Available Days',
       'Blocked Days', 'Active', 'Scraped During Month',
       'HomeAway Property Manager', 'geometry', 'index_right', 'Dong_name',
       'Listing Title', 'Property Type', 'Listing Type', 'Created Date',
       'Last Scraped Date', 'Country', 'State', 'City', 'Zipcode',
       'Neighborhood', 'Metropolitan Statistical Area', 'Currency Native',
       'Average Daily Rate (USD)', 'Average Daily Rate (Native)',
       'Annual Revenue LTM (USD)', 'Annual Revenue LTM (Native)',
       'Occupancy Rate LTM', 'Number of Bookings LTM', 'Number of Reviews',
       'Bedrooms', 'Bathrooms', 'Max Guests', 'Calendar Last Updated',
       'Response Rate', 'Airbnb Response Time (Text)', 'Airbnb Superhost',
       'HomeAway Premier Partner', 'Cancellation Policy',
       'Security Deposit (USD)', 'Security Deposit (Native)',
       'Cleaning Fee (USD)', 'Cleaning Fee (Native)', 'Extra People Fee (USD)',
       'Extra People Fee (Native)', 'Published Nightly Rate (USD)',
       'Published Monthly Rate (USD)', 'Published Weekly Rate (USD)',
       'Check-in Time', 'Checkout Time', 'Minimum Stay',
       'Count Reservation Days LTM', 'Count Available Days LTM',
       'Count Blocked Days LTM', 'Number of Photos', 'Instantbook Enabled',
       'Listing URL', 'Listing Main Image URL', 'Listing Images', 'Latitude',
       'Longitude', 'Exact Location', 'Overall Rating',
       'Airbnb Communication Rating', 'Airbnb Accuracy Rating',
       'Airbnb Cleanliness Rating', 'Airbnb Checkin Rating',
       'Airbnb Location Rating', 'Airbnb Value Rating', 'Pets Allowed',
       'Integrated Property Manager', 'Amenities', 'HomeAway Location Type',
       'Airbnb Property Plus', 'Airbnb Home Collection', 'License',
       'Airbnb Property ID', 'Airbnb Host ID', 'HomeAway Property ID',
       'HomeAway Property Manager ID'],
      dtype='object')

In [87]:
# labelÍ∞íÏù¥ NaNÏù∏ Í∞íÎì§ Ï±ÑÏö∞Í∏∞
target_cols = ['Reservation Days', 'Revenue (USD)', 'Number of Reservations']

# Í∞Å Ïª¨ÎüºÏóê ÎåÄÌï¥ NaN ‚Üí 0 Ï≤òÎ¶¨
real_df[target_cols] = real_df[target_cols].fillna(0)

In [88]:
print(len(real_df.loc[(real_df['Revenue (USD)']!=0) & (real_df['Occupancy Rate']==0), 'Property ID'].unique()))

# Ïù¥ÏÉÅÏπò Ï°∞Í±¥ Ï†ïÏùò
condition = (real_df['Revenue (USD)'] != 0) & (real_df['Occupancy Rate'] == 0)

# Ï°∞Í±¥ÏùÑ ÎßåÏ°±ÌïòÎäî Ìñâ Ï†úÍ±∞
real_df = real_df[~condition].reset_index(drop=True)

1524

In [89]:
raw_cols = ['Property Type', 'Listing Type', 'Bedrooms', 'Bathrooms', 'Max Guests',
            'Available Days', 'Blocked Days', 
            'Response Rate', 'Number of Reviews', 'Amenities', 'Airbnb Response Time (Text)', 'Airbnb Superhost', 'Cancellation Policy', 
            'Check-in Time', 'Checkout Time', 'Minimum Stay', 'Number of Photos', 'Instantbook Enabled', 'Pets Allowed', 'Overall Rating']

llm_cols = raw_cols + ['Listing Title']

label_cols = ['Reservation Days', 'Revenue (USD)', 'Number of Reservations']

print(len(raw_cols))
print(len(llm_cols))

# ÏÇ¨Ïö©Ìï† Ïó¥ Îì§Îßå Ìè¨Ìï®Îêú Îç∞Ïù¥ÌÑ∞ ÏÖã
core_cols = ['Reporting Month', 'Dong_name'] + llm_cols + label_cols
print(core_cols)
print(len(core_cols))

new_df = real_df[core_cols]
print(new_df.shape)
new_df.head()

20
21
['Reporting Month', 'Dong_name', 'Property Type', 'Listing Type', 'Bedrooms', 'Bathrooms', 'Max Guests', 'Available Days', 'Blocked Days', 'Response Rate', 'Number of Reviews', 'Amenities', 'Airbnb Response Time (Text)', 'Airbnb Superhost', 'Cancellation Policy', 'Check-in Time', 'Checkout Time', 'Minimum Stay', 'Number of Photos', 'Instantbook Enabled', 'Pets Allowed', 'Overall Rating', 'Listing Title', 'Reservation Days', 'Revenue (USD)', 'Number of Reservations']
26
(953953, 26)

,Reporting Month,Dong_name,Property Type,Listing Type,Bedrooms,Bathrooms,Max Guests,Available Days,Blocked Days,Response Rate,...,Checkout Time,Minimum Stay,Number of Photos,Instantbook Enabled,Pets Allowed,Overall Rating,Listing Title,Reservation Days,Revenue (USD),Number of Reservations
0,2022-06-01,ÌòúÌôîÎèô,Rental unit,Private room,1.0,0.0,1.0,29.0,0.0,95.0,...,11:00 AM,1.0,20.0,False,False,NaN,[Enkor Stay] Private room H Shared Flat SKKU,1.0,23.0,1.0
1,2022-07-01,ÌòúÌôîÎèô,Rental unit,Private room,1.0,0.0,1.0,15.0,6.0,95.0,...,11:00 AM,1.0,20.0,False,False,NaN,[Enkor Stay] Private room H Shared Flat SKKU,10.0,360.0,6.0
2,2022-06-01,ÏÇ¨Í∑ºÎèô,Rental unit,Entire home/apt,1.0,1.0,2.0,30.0,0.0,100.0,...,11:00 AM,200.0,11.0,False,False,NaN,Cozy studio - 3mins Hanyang Univ.,0.0,0.0,0.0
3,2022-07-01,ÏÇ¨Í∑ºÎèô,Rental unit,Entire home/apt,1.0,1.0,2.0,31.0,0.0,100.0,...,11:00 AM,200.0,11.0,False,False,NaN,Cozy studio - 3mins Hanyang Univ.,0.0,0.0,0.0
4,2022-07-01,Ïó∞ÎÇ®Îèô,Townhouse,Private room,1.0,1.0,3.0,7.0,0.0,NaN,...,11:00 AM,3.0,15.0,False,False,NaN,P1 - R6 Hongdea / shared bathroom / Í≥µÏö©Í±∞Ïã§ÏöïÏã§,24.0,1063.0,14.0

In [90]:
# ÎÇ®ÏùÄ Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨
new_df.loc[new_df['Airbnb Superhost'].isna(), 'Airbnb Superhost'] = False

In [91]:
# Í∞Å Ïó¥Ïùò NaN Í∞úÏàò Ï∂úÎ†•
nan_counts = new_df.isna().sum()

# NaNÏù¥ 1Í∞ú Ïù¥ÏÉÅ ÏûàÎäî Ïª¨ÎüºÎßå Ï∂úÎ†• (ÏÑ†ÌÉùÏ†Å ÌïÑÌÑ∞ÎßÅ)
nan_counts = nan_counts[nan_counts > 0]

# Î≥¥Í∏∞ Ï¢ãÍ≤å Ï∂úÎ†•
print(nan_counts.sort_values(ascending=False))

Checkout Time                  139807
Overall Rating                 139422
Airbnb Response Time (Text)    127388
Check-in Time                   69462
Response Rate                   47970
Pets Allowed                    32845
Amenities                        5827
Cancellation Policy              1142
Minimum Stay                      846
Bathrooms                         786
Number of Photos                  357
Max Guests                        234
Bedrooms                          168
Number of Reviews                 167
Listing Title                     104
Property Type                      60
Listing Type                       58
dtype: int64

In [92]:
new_df.loc[new_df['Dong_name'].str.startswith('Ïã†ÏÇ¨'), 'Dong_name'].unique()

array(['Ïã†ÏÇ¨Îèô(Í∞ïÎÇ®)', 'Ïã†ÏÇ¨Îèô(Í¥ÄÏïÖ)', 'Ïã†ÏÇ¨2Îèô', 'Ïã†ÏÇ¨1Îèô'], dtype=object)

In [93]:
len(new_df['Dong_name'].unique())  # 'ÏÉÅÍ≥Ñ8Îèô' Ï†úÍ±∞Îê®

423

In [94]:
new_df.to_csv('../Data/Raw_data/AirBnB_data.csv', index=False)   # ÌäπÏ†ï ÎèôÏù¥ ÏóÜÎäî Í≤ΩÏö∞Í∞Ä ÏûàÎäîÎç∞ Ïù¥ Í≤ΩÏö∞ÏóêÎäî ÎÇòÏ§ëÏóê Ï±ÑÏõå ÎÑ£Í∏∞

# raw ÏûÑÎ∞∞Îî© ÏÉùÏÑ±

In [95]:
raw_df = new_df[['Reporting Month', 'Dong_name'] + raw_cols]
print(raw_df.shape)
print(raw_df.columns)

(953953, 22)
Index(['Reporting Month', 'Dong_name', 'Property Type', 'Listing Type',
       'Bedrooms', 'Bathrooms', 'Max Guests', 'Available Days', 'Blocked Days',
       'Response Rate', 'Number of Reviews', 'Amenities',
       'Airbnb Response Time (Text)', 'Airbnb Superhost',
       'Cancellation Policy', 'Check-in Time', 'Checkout Time', 'Minimum Stay',
       'Number of Photos', 'Instantbook Enabled', 'Pets Allowed',
       'Overall Rating'],
      dtype='object')

In [96]:
import json
from collections import Counter

# Îëê Í∞ÄÏßÄ Îç∞Ïù¥ÌÑ∞ ÌòïÏãùÏùÑ Î≥ÄÌôòÌïòÎäî Ìï®Ïàò
import json

def parse_amenities(amenities):
    try:
        if isinstance(amenities, str):
            if amenities.startswith("{"):  # JSON ÌòïÏãù
                amenities_dict = json.loads(amenities)  # JSON ÌååÏã±
                return [item.lower() for sublist in amenities_dict.values() for item in sublist]  # ÏÜåÎ¨∏Ïûê Î≥ÄÌôò
            elif amenities.startswith("["):  # Î¶¨Ïä§Ìä∏ Î¨∏ÏûêÏó¥ ÌòïÏãù
                return [item.lower() for item in json.loads(amenities)]  # ÏÜåÎ¨∏Ïûê Î≥ÄÌôò
        return []
    except:
        return []

# Îç∞Ïù¥ÌÑ∞ Î≥ÄÌôò Ï†ÅÏö©
raw_df["Parsed_Amenities"] = raw_df["Amenities"].apply(parse_amenities)

/tmp/ipykernel_417305/3164606577.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_df["Parsed_Amenities"] = raw_df["Amenities"].apply(parse_amenities)

In [97]:
raw_df.head()

,Reporting Month,Dong_name,Property Type,Listing Type,Bedrooms,Bathrooms,Max Guests,Available Days,Blocked Days,Response Rate,...,Airbnb Superhost,Cancellation Policy,Check-in Time,Checkout Time,Minimum Stay,Number of Photos,Instantbook Enabled,Pets Allowed,Overall Rating,Parsed_Amenities
0,2022-06-01,ÌòúÌôîÎèô,Rental unit,Private room,1.0,0.0,1.0,29.0,0.0,95.0,...,False,firm,After 3:00 PM,11:00 AM,1.0,20.0,False,False,NaN,"[kitchen, wireless_internet, laptop-friendly, ..."
1,2022-07-01,ÌòúÌôîÎèô,Rental unit,Private room,1.0,0.0,1.0,15.0,6.0,95.0,...,False,firm,After 3:00 PM,11:00 AM,1.0,20.0,False,False,NaN,"[kitchen, wireless_internet, laptop-friendly, ..."
2,2022-06-01,ÏÇ¨Í∑ºÎèô,Rental unit,Entire home/apt,1.0,1.0,2.0,30.0,0.0,100.0,...,False,strict_14_with_grace_period,After 3:00 PM,11:00 AM,200.0,11.0,False,False,NaN,"[kitchen, wireless_internet, hair-dryer, hange..."
3,2022-07-01,ÏÇ¨Í∑ºÎèô,Rental unit,Entire home/apt,1.0,1.0,2.0,31.0,0.0,100.0,...,False,strict_14_with_grace_period,After 3:00 PM,11:00 AM,200.0,11.0,False,False,NaN,"[kitchen, wireless_internet, hair-dryer, hange..."
4,2022-07-01,Ïó∞ÎÇ®Îèô,Townhouse,Private room,1.0,1.0,3.0,7.0,0.0,NaN,...,False,strict_14_with_grace_period,After 3:00 PM,11:00 AM,3.0,15.0,False,False,NaN,"[kitchen, wireless_internet, laptop-friendly, ac]"

In [98]:
# Flatten & ÎπàÎèÑÏàò Í≥ÑÏÇ∞
all_amenities = [amenity for sublist in raw_df["Parsed_Amenities"] for amenity in sublist]
amenity_counts = Counter(all_amenities)
print(len(amenity_counts))

# ÏÉÅÏúÑ 50Í∞ú Amenities Ï∂úÎ†•
top_amenities = [amenity for amenity, count in amenity_counts.most_common(50)]
print("Top Amenities:", top_amenities)

343
Top Amenities: ['heating', 'wireless_internet', 'ac', 'essentials', 'kitchen', 'shampoo', 'washer', 'hair-dryer', 'hangers', 'fire_extinguisher', 'smoke_detector', 'laptop-friendly', 'tv', 'hot_water', 'iron', 'carbon_monoxide_detector', 'refrigerator', 'dishes_and_silverware', 'microwave', 'long_term_stays_allowed', 'first_aid_kit', 'stove', 'cable', 'bed_linens', 'cooking_basics', 'elevator', 'dryer', 'keypad', 'private-entrance', 'luggage_dropoff_allowed', 'free_parking', 'lock_on_bedroom_door', 'extra_pillows_and_blankets', 'breakfast', 'coffee_maker', 'paid_parking', 'room_darkening_shades', 'paid_parking_on_premises', 'host_checkin', 'pocket_wifi', 'ethernet_connection', 'window_guards', 'cleaning_before_checkout', 'patio_or_balcony', 'garden_or_backyard', 'street_parking', 'oven', 'internet', 'smartlock', 'single_level_home']

In [99]:
# Ï†úÏô∏Ìï† Ïó¥ÏùÑ Ï†úÏô∏Ìïú ÎÇòÎ®∏ÏßÄ Ïó¥ÏùÑ one-hot Ïù∏ÏΩîÎî©
numeric_columns = raw_df.select_dtypes(include=['number']).columns
print(numeric_columns)
excluded_columns = ['Reporting Month', 'Dong_name', 'Amenities', 'Parsed_Amenities']   # AmenitiesÎäî ÎÑàÎ¨¥ ÎßéÏïÑÏÑú Îî∞Î°ú Ï≤òÎ¶¨
excluded_columns.extend(numeric_columns)
print(excluded_columns)

encoded_df = pd.get_dummies(raw_df.drop(columns=excluded_columns), drop_first=True)

# Ï†úÏô∏Ìïú Ïó¥ÏùÑ Îã§Ïãú Ï∂îÍ∞Ä
raw_embeddings = pd.concat([raw_df[excluded_columns], encoded_df], axis=1)
raw_embeddings = raw_embeddings.drop(columns=['Amenities'])

raw_embeddings

Index(['Bedrooms', 'Bathrooms', 'Max Guests', 'Available Days', 'Blocked Days',
       'Response Rate', 'Number of Reviews', 'Minimum Stay',
       'Number of Photos', 'Overall Rating'],
      dtype='object')
['Reporting Month', 'Dong_name', 'Amenities', 'Parsed_Amenities', 'Bedrooms', 'Bathrooms', 'Max Guests', 'Available Days', 'Blocked Days', 'Response Rate', 'Number of Reviews', 'Minimum Stay', 'Number of Photos', 'Overall Rating']

,Reporting Month,Dong_name,Parsed_Amenities,Bedrooms,Bathrooms,Max Guests,Available Days,Blocked Days,Response Rate,Number of Reviews,...,Checkout Time_7PM,Checkout Time_8:00 AM,Checkout Time_8:00 PM,Checkout Time_8AM,Checkout Time_8PM,Checkout Time_9:00 AM,Checkout Time_9:00 PM,Checkout Time_9AM,Checkout Time_9PM,Pets Allowed_True
0,2022-06-01,ÌòúÌôîÎèô,"[kitchen, wireless_internet, laptop-friendly, ...",1.0,0.0,1.0,29.0,0.0,95.0,0.0,...,False,False,False,False,False,False,False,False,False,False
1,2022-07-01,ÌòúÌôîÎèô,"[kitchen, wireless_internet, laptop-friendly, ...",1.0,0.0,1.0,15.0,6.0,95.0,0.0,...,False,False,False,False,False,False,False,False,False,False
2,2022-06-01,ÏÇ¨Í∑ºÎèô,"[kitchen, wireless_internet, hair-dryer, hange...",1.0,1.0,2.0,30.0,0.0,100.0,0.0,...,False,False,False,False,False,False,False,False,False,False
3,2022-07-01,ÏÇ¨Í∑ºÎèô,"[kitchen, wireless_internet, hair-dryer, hange...",1.0,1.0,2.0,31.0,0.0,100.0,0.0,...,False,False,False,False,False,False,False,False,False,False
4,2022-07-01,Ïó∞ÎÇ®Îèô,"[kitchen, wireless_internet, laptop-friendly, ac]",1.0,1.0,3.0,7.0,0.0,NaN,0.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953948,2019-11-01,Ïó≠Ï¥åÎèô,"[dining area, wireless internet, elevator, ref...",1.0,1.0,4.0,9.0,2.0,83.0,1.0,...,False,False,False,False,False,False,False,False,False,False
953949,2019-12-01,Ïó≠Ï¥åÎèô,"[dining area, wireless internet, elevator, ref...",1.0,1.0,4.0,19.0,3.0,83.0,1.0,...,False,False,False,False,False,False,False,False,False,False
953950,2020-01-01,Ïó≠Ï¥åÎèô,"[dining area, wireless internet, elevator, ref...",1.0,1.0,4.0,10.0,2.0,83.0,1.0,...,False,False,False,False,False,False,False,False,False,False
953951,2020-02-01,Ïó≠Ï¥åÎèô,"[dining area, wireless internet, elevator, ref...",1.0,1.0,4.0,15.0,0.0,83.0,1.0,...,False,False,False,False,False,False,False,False,False,False
953952,2020-03-01,Ïó≠Ï¥åÎèô,"[dining area, wireless internet, elevator, ref...",1.0,1.0,4.0,5.0,16.0,83.0,1.0,...,False,False,False,False,False,False,False,False,False,False

In [100]:
# Amenities ÏõêÌï´ Ïù∏ÏΩîÎî© Ï†ÅÏö©
for amenity in top_amenities:
    raw_embeddings[f"Amenity_{amenity}"] = raw_embeddings["Parsed_Amenities"].apply(lambda x: 1 if amenity in x else 0)
    
raw_embeddings = raw_embeddings.drop(columns=["Parsed_Amenities"])

# Í≤∞Í≥º ÌôïÏù∏
raw_embeddings.head()

,Reporting Month,Dong_name,Bedrooms,Bathrooms,Max Guests,Available Days,Blocked Days,Response Rate,Number of Reviews,Minimum Stay,...,Amenity_ethernet_connection,Amenity_window_guards,Amenity_cleaning_before_checkout,Amenity_patio_or_balcony,Amenity_garden_or_backyard,Amenity_street_parking,Amenity_oven,Amenity_internet,Amenity_smartlock,Amenity_single_level_home
0,2022-06-01,ÌòúÌôîÎèô,1.0,0.0,1.0,29.0,0.0,95.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,2022-07-01,ÌòúÌôîÎèô,1.0,0.0,1.0,15.0,6.0,95.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,2022-06-01,ÏÇ¨Í∑ºÎèô,1.0,1.0,2.0,30.0,0.0,100.0,0.0,200.0,...,0,0,0,0,0,0,0,0,0,0
3,2022-07-01,ÏÇ¨Í∑ºÎèô,1.0,1.0,2.0,31.0,0.0,100.0,0.0,200.0,...,0,0,0,0,0,0,0,0,0,0
4,2022-07-01,Ïó∞ÎÇ®Îèô,1.0,1.0,3.0,7.0,0.0,NaN,0.0,3.0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
# Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ¶¨
dong_df = raw_embeddings.copy()

dong_names = list(dong_df['Dong_name'].unique())
dong_names.append('ÏÉÅÍ≥Ñ8Îèô')
print(len(dong_names))

dong_embedding = dong_df.groupby(['Reporting Month', 'Dong_name']).mean().reset_index()
count_df = dong_df.groupby(['Reporting Month', 'Dong_name']).size().reset_index(name='count')

dong_embedding = dong_embedding.merge(count_df, on=['Reporting Month', 'Dong_name'])

print(dong_embedding.shape)
dong_embedding.head()

424
(26235, 661)

,Reporting Month,Dong_name,Bedrooms,Bathrooms,Max Guests,Available Days,Blocked Days,Response Rate,Number of Reviews,Minimum Stay,...,Amenity_window_guards,Amenity_cleaning_before_checkout,Amenity_patio_or_balcony,Amenity_garden_or_backyard,Amenity_street_parking,Amenity_oven,Amenity_internet,Amenity_smartlock,Amenity_single_level_home,count
0,2017-01-01,Í∞ÄÎùΩ1Îèô,1.000000,1.000000,1.333333,31.000000,0.000000,33.333333,21.000000,5.333333,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,3
1,2017-01-01,Í∞ÄÎùΩ2Îèô,1.000000,0.750000,1.500000,31.000000,0.000000,NaN,0.000000,1.500000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,2
2,2017-01-01,Í∞ÄÎùΩÎ≥∏Îèô,0.818182,1.272727,2.363636,20.909091,1.727273,81.500000,39.181818,1.727273,...,0.0,0.090909,0.0,0.0,0.0,0.090909,0.090909,0.0,0.0,11
3,2017-01-01,Í∞ÄÎ¶¨Î¥âÎèô,2.000000,1.000000,3.500000,15.500000,12.000000,75.000000,7.000000,15.500000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.500000,0.0,0.0,2
4,2017-01-01,Í∞ÄÏÇ∞Îèô,1.000000,1.000000,1.000000,29.000000,2.000000,50.000000,1.000000,1.000000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.500000,0.0,0.0,2

In [102]:
date_range = pd.date_range(start='2017-01-01', end='2022-07-01', freq='MS')
date_range = date_range.strftime('%Y-%m-%d')

full_index = pd.MultiIndex.from_product([date_range, dong_names], names=['Reporting Month', 'Dong_name'])
full_df = pd.DataFrame(index=full_index).reset_index()
full_df['Reporting Month'] = pd.to_datetime(full_df['Reporting Month'], errors='coerce')
print(full_df.shape)

merged_df = pd.merge(full_df, dong_embedding, on=['Reporting Month', 'Dong_name'], how='left')
merged_df.fillna(0, inplace=True)
merged_df

(28408, 2)

,Reporting Month,Dong_name,Bedrooms,Bathrooms,Max Guests,Available Days,Blocked Days,Response Rate,Number of Reviews,Minimum Stay,...,Amenity_window_guards,Amenity_cleaning_before_checkout,Amenity_patio_or_balcony,Amenity_garden_or_backyard,Amenity_street_parking,Amenity_oven,Amenity_internet,Amenity_smartlock,Amenity_single_level_home,count
0,2017-01-01,ÌòúÌôîÎèô,1.226190,1.416667,3.321429,22.952381,3.250000,99.000000,17.619048,3.107143,...,0.000000,0.011905,0.047619,0.095238,0.071429,0.023810,0.154762,0.000000,0.095238,84.0
1,2017-01-01,ÏÇ¨Í∑ºÎèô,0.480000,1.280000,2.320000,16.560000,8.400000,79.166667,13.280000,13.120000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.120000,0.040000,0.000000,25.0
2,2017-01-01,Ïó∞ÎÇ®Îèô,1.333333,1.341310,3.736842,19.671679,2.370927,88.063776,32.195489,7.022556,...,0.022556,0.007519,0.032581,0.057644,0.035088,0.057644,0.095238,0.010025,0.002506,399.0
3,2017-01-01,Ïö∞Ïù¥Îèô,1.666667,0.750000,3.500000,27.166667,0.500000,100.000000,20.333333,5.500000,...,0.000000,0.166667,0.333333,0.333333,0.333333,0.166667,0.166667,0.166667,0.000000,6.0
4,2017-01-01,ÏÇ¨ÏßÅÎèô,1.213018,1.192308,4.106509,20.668639,2.313609,92.065868,36.147929,8.011834,...,0.029586,0.005917,0.029586,0.082840,0.023669,0.023669,0.230769,0.023669,0.059172,169.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28403,2022-07-01,Î≤à3Îèô,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
28404,2022-07-01,Î¨¥ÏïÖÎèô,1.000000,1.000000,1.500000,3.500000,15.500000,100.000000,6.000000,5.000000,...,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
28405,2022-07-01,ÏåçÎ¨∏2Îèô,0.500000,1.000000,1.000000,1.000000,14.000000,100.000000,23.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
28406,2022-07-01,ÏãúÌù•4Îèô,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
28407,2022-07-01,ÏÉÅÍ≥Ñ8Îèô,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [103]:
# Ï†ÄÏû•
merged_df.to_csv('../Data/Preprocessed_data/Dong/AirBnB_raw_embedding.csv', index=False)   # Í∏∞Ï°¥ AirBnB_raw_data