In [31]:
import pandas as pd
import numpy as np

In [32]:
air_info = pd.read_csv('../Data/Preprocessed_data/Dong/near_road_info_km.csv')
road_emb = pd.read_csv('../Data/Preprocessed_data/Dong/Road_Embeddings.csv')
hf = pd.read_csv('../Data/Preprocessed_data/Dong/Human_flow.csv')

In [33]:
air_info

,Unnamed: 0,Reporting Month,Dong_name,Gu_name,Longitude,Latitude,geometry,num_nearby_nodes
0,0,2022-06-01,혜화동,성북구,126.992914,37.588926,POINT (14136786.566785889 4521516.461359038),392
1,1,2022-07-01,혜화동,성북구,126.992914,37.588926,POINT (14136786.566785889 4521516.461359038),392
2,2,2022-06-01,사근동,성동구,127.040654,37.557404,POINT (14142100.947543954 4517089.136057015),400
3,3,2022-07-01,사근동,성동구,127.040654,37.557404,POINT (14142100.947543954 4517089.136057015),400
4,4,2022-07-01,연남동,마포구,126.918663,37.560640,POINT (14128520.913780687 4517543.585453471),347
...,...,...,...,...,...,...,...,...
1807817,1807817,2021-03-01,역촌동,은평구,126.914691,37.603220,POINT (14128078.827512626 4523524.758693158),675
1807818,1807818,2021-04-01,역촌동,은평구,126.914691,37.603220,POINT (14128078.827512626 4523524.758693158),675
1807819,1807819,2021-05-01,역촌동,은평구,126.914691,37.603220,POINT (14128078.827512626 4523524.758693158),675
1807820,1807820,2021-06-01,역촌동,은평구,126.914691,37.603220,POINT (14128078.827512626 4523524.758693158),675
1807821,1807821,2021-07-01,역촌동,은평구,126.914691,37.603220,POINT (14128078.827512626 4523524.758693158),675

In [34]:
air_near_road = air_info.groupby(['Reporting Month','Dong_name']).agg({'num_nearby_nodes': 'sum'})
air_near_road = air_near_road.reset_index(drop=False)
air_near_road

      Reporting Month Dong_name  num_nearby_nodes
0          2017-01-01      가락1동               873
1          2017-01-01      가락2동              1016
2          2017-01-01      가락본동              5106
3          2017-01-01      가리봉동              1150
4          2017-01-01       가산동              1780
...               ...       ...               ...
27864      2022-07-01       효창동             12036
27865      2022-07-01       후암동             57737
27866      2022-07-01      휘경1동             28554
27867      2022-07-01      휘경2동             10449
27868      2022-07-01       흑석동              3652

[27869 rows x 3 columns]

In [35]:
idx = hf[['Reporting Month', 'Dong_name']]   # 인덱스 정보만 가져오기
road_hf = idx.merge(air_near_road, on=["Reporting Month", "Dong_name"], how="left").fillna(0)
road_hf

      Reporting Month Dong_name  num_nearby_nodes
0          2017-01-01     청운효자동           15442.0
1          2017-01-01       사직동           41034.0
2          2017-01-01       삼청동            8132.0
3          2017-01-01       부암동            8732.0
4          2017-01-01       평창동            6486.0
...               ...       ...               ...
28403      2022-07-01       약수동            2111.0
28404      2022-07-01       광희동          191776.0
28405      2022-07-01      이문1동           40548.0
28406      2022-07-01      장위1동            3946.0
28407      2022-07-01     왕십리2동            6937.0

[28408 rows x 3 columns]

In [36]:
road_info = road_hf.merge(road_emb, on=['Dong_name'])
road_info

,Reporting Month,Dong_name,num_nearby_nodes,road_count,total_length,tunnel_count_general,tunnel_count_building_passage,bridge_count_general,bridge_count_viaduct,highway_count_residential,...,highway_count_secondary,highway_count_secondary_link,highway_count_unclassified,highway_count_trunk,highway_count_trunk_link,highway_count_motorway_link,highway_count_crossing,highway_count_road,highway_count_motorway,area
0,2017-01-01,청운효자동,15442.0,102,15032.778,0,0,0,0,44.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.568560e+06
1,2017-01-01,사직동,41034.0,214,22040.495,0,0,0,0,84.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.157671e+06
2,2017-01-01,삼청동,8132.0,17,3477.422,0,0,0,0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.476086e+06
3,2017-01-01,부암동,8732.0,375,36188.775,0,0,14,0,295.0,...,24.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.273044e+06
4,2017-01-01,평창동,6486.0,717,74985.331,0,0,4,0,675.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.940655e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28403,2022-07-01,약수동,2111.0,176,11215.431,0,0,0,0,160.0,...,13.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.858661e+05
28404,2022-07-01,광희동,191776.0,522,29900.887,23,0,0,0,345.0,...,133.0,12.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,7.366489e+05
28405,2022-07-01,이문1동,40548.0,704,35300.705,4,0,0,0,616.0,...,55.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.038010e+06
28406,2022-07-01,장위1동,3946.0,998,44156.095,0,0,0,0,924.0,...,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.080072e+05
28407,2022-07-01,왕십리2동,6937.0,238,12807.043,0,0,0,0,220.0,...,11.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.721435e+05

In [37]:
road_info[road_info['num_nearby_nodes']==0]

,Reporting Month,Dong_name,num_nearby_nodes,road_count,total_length,tunnel_count_general,tunnel_count_building_passage,bridge_count_general,bridge_count_viaduct,highway_count_residential,...,highway_count_secondary,highway_count_secondary_link,highway_count_unclassified,highway_count_trunk,highway_count_trunk_link,highway_count_motorway_link,highway_count_crossing,highway_count_road,highway_count_motorway,area
5,2017-01-01,무악동,0.0,93,6368.146,0,0,0,0,26.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.692455e+05
69,2017-01-01,중곡3동,0.0,289,20712.984,0,0,0,0,247.0,...,14.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,6.014043e+05
136,2017-01-01,번2동,0.0,328,20127.086,0,0,0,0,288.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.735585e+05
144,2017-01-01,창2동,0.0,563,32486.222,0,0,0,0,498.0,...,22.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.539453e+05
158,2017-01-01,월계2동,0.0,186,19299.602,2,0,0,0,161.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.003257e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28081,2022-07-01,독산2동,0.0,520,31384.160,0,0,0,0,382.0,...,22.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,6.167213e+05
28116,2022-07-01,면목5동,0.0,213,15670.408,0,0,0,0,176.0,...,10.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,7.043952e+05
28174,2022-07-01,둔촌1동,0.0,36,4633.885,0,0,0,0,12.0,...,12.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.114673e+05
28226,2022-07-01,상계8동,0.0,13,1843.719,0,0,0,0,0.0,...,0.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,0.0,6.658402e+05
28272,2022-07-01,마천2동,0.0,626,33510.910,0,0,0,0,299.0,...,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.899926e+05

In [38]:
road = pd.read_csv('../Data/Preprocessed_data/Dong/Road_Embeddings_plus.csv')
road

,Reporting Month,Dong_name,num_nearby_nodes,road_count,total_length,tunnel_count_general,tunnel_count_building_passage,bridge_count_general,bridge_count_viaduct,highway_count_residential,...,highway_count_secondary,highway_count_secondary_link,highway_count_unclassified,highway_count_trunk,highway_count_trunk_link,highway_count_motorway_link,highway_count_crossing,highway_count_road,highway_count_motorway,area
0,2017-01-01,청운효자동,15442.0,102,15032.778,0,0,0,0,44.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.568560e+06
1,2017-01-01,사직동,41034.0,214,22040.495,0,0,0,0,84.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.157671e+06
2,2017-01-01,삼청동,8132.0,17,3477.422,0,0,0,0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.476086e+06
3,2017-01-01,부암동,8732.0,375,36188.775,0,0,14,0,295.0,...,24.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.273044e+06
4,2017-01-01,평창동,6486.0,717,74985.331,0,0,4,0,675.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.940655e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28403,2022-07-01,약수동,2111.0,176,11215.431,0,0,0,0,160.0,...,13.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.858661e+05
28404,2022-07-01,광희동,191776.0,522,29900.887,23,0,0,0,345.0,...,133.0,12.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,7.366489e+05
28405,2022-07-01,이문1동,40548.0,704,35300.705,4,0,0,0,616.0,...,55.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.038010e+06
28406,2022-07-01,장위1동,3946.0,998,44156.095,0,0,0,0,924.0,...,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.080072e+05
28407,2022-07-01,왕십리2동,6937.0,238,12807.043,0,0,0,0,220.0,...,11.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3.721435e+05